.about-us {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f9fc;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.image-section {
  flex: 1;
  padding-right: 20px;
}

.image {
  width: 600px;
  border-radius: 8px;
  margin-right: 80px;
}

.text-section {
  flex: 2;
  width: 300px;
}

.intro-text {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.section {
  width: 45%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.subHeading {
  font-size: 34px;
  color: #1450a3;
  margin-top: 20px;
  margin-bottom: 50px;
}

.text {
  font-size: 1.1em;
  color: #333;
  line-height: 1.6;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 100px;
}

.principal-lines-section {
  margin-top: 40px;
  text-align: center;
  padding: 0 20px;
}

.about-us-footer-container {
  height: 60vh;
  background-color: #2d2d7f;
  color: #fff;
  padding: 40px 50px;
  width: 93%;
}
