.row-hcontent {
    margin-left: 60px;
    padding: 80px;
    justify-content: center;
    display: flex;
    flex-direction: column; 
  }
  .text-hcenter {
    margin-left: 60px;
    padding: 80px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .himage-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Trainer-style {
    width: 560px;
    height: 478px;
    border-radius: 30px;
  }
  .hfooter-container { 
    grid-column: span 2;
    height: 51vh;
    background-color: #2d2d7f;
    color: #fff;
    padding: 40px 50px; 
     
  }
  .about-trainer{
    margin: 20px auto;
    padding: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 90%;
    width: 100%;
    box-sizing: border-box;
  }
  .about-trainer:hover {
    transform: scale(1.05);
  }
  .about-trainer-h3{
    align-content: center;
    margin-left: 60px;
    padding: 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
 .about-trainer-h1{
    align-content: center;
    margin-left: 60px;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 .card-flex-h2{
    margin: 20px auto;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
  
 }

  .card-flex{
    margin: 20px auto;
    padding: 40px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background: linear-gradient(135deg, #089e21 0%, #0c0e6b 100%);
    gap: 20px;
    flex-wrap: wrap;  /* Add this line to allow wrapping to the next line */
  }
  .card:hover {
    transform: scale(1.05);
  }


