.job-details-container {
    display: flex;
    width: 99vw;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .job-details-content {
    flex: 6;
    background-color: white;
    color: black;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  
  .job-details-sidebar {
    flex: 5;
    background-color: #F5F5F7;
    color: white;
    padding-left: 100px;
    padding-top: 50px;
  } 

  .job-details-body p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1;
    margin-top: 0%;
  }
  
  .job-details-body h5 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .interested-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .interested-button {
    margin-top: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    background-color: #1450A3;
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .privacy-policy-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 70px;
  }

  .privacy-policy-container p {
    font-size: 12px;
    cursor: pointer;
    color: #1450A3;
  }

  .interested-button-sider {
    margin-top: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    background-color: #1450A3;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
  }


.job-details-sidebar {
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .share-job {
    margin-top: 50px;
  }
  
  .share-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
  }
  
  .share-icons {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    font-size: 24px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: #1450A3;
  }

  .other-jobs {
    margin-top: 50px;
  }
  
  .other-jobs-title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #333;
  }
  
  .other-jobs-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .job-title {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #222;
  }
  
  .job-location {
    margin: 5px 0 0;
    font-size: 13px;
    color: #555;
  }
  
  .show-all-jobs {
    font-size: 12px;
    font-weight: normal;
    color: #1450A3;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .show-all-jobs:hover {
    color: #005bb5;
  }
  
  